* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	transition: 8s;
	overflow: hidden;
}

/*wadah*/
.container {
	/*border: 1px solid black;*/
	width: 100%;
	height: 35%;
	position: absolute;
	top: 0;
	/*display: flex;*/
}
/*akhir wadah*/

/*matahari*/
.matahari {
	width: 200px;
	height: 200px;
	/*border: 1px solid black;*/
	border-radius: 100%;
	background-color: #FBE700;
	box-shadow:  0px 1px 36px 3px #fbef62;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	margin-top: 20px;
	overflow: hidden;
}
/*akhir matahari*/

/*bulan*/
.bulan {
	width: 95%;
	height: 95%;
	border: 1px solid black;
	border-radius: 100%;
	background-color: black;
	margin-right: -400px;
	transition: 8s;
}
/*akhir bulan*/


.cont-button {
	position: absolute;
	bottom: -340px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn {
	outline: none;
	background: none;
	border: 3px solid black;
	width: 100px;
	height: 50px;
	cursor: pointer;
	border-radius: 30px;
	font-size: 18px;
	transition: .5s;
	box-shadow:0px 0px 10px -3px black;
}
.btn:hover {
	background-color: black;
	color: white;
}
.btn {
	margin-right: 10px;
}