* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	transition: 8s;
	overflow: hidden;
}

/*wadah*/
.container {
	/*border: 1px solid black;*/
	width: 100%;
	height: 35%;
	position: absolute;
	top: 0;
	/*display: flex;*/
}
/*akhir wadah*/

/*matahari*/
.matahari {
	width: 200px;
	height: 200px;
	/*border: 1px solid black;*/
	border-radius: 100%;
	background-color: #FBE700;
	box-shadow:  0px 1px 36px 3px #fbef62;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	margin-top: 20px;
	overflow: hidden;
}
/*akhir matahari*/

/*bulan*/
.bulan {
	width: 95%;
	height: 95%;
	border: 1px solid black;
	border-radius: 100%;
	background-color: black;
	margin-right: -400px;
	transition: 8s;
}
/*akhir bulan*/


.cont-button {
	position: absolute;
	bottom: -340px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn {
	outline: none;
	background: none;
	border: 3px solid black;
	width: 100px;
	height: 50px;
	cursor: pointer;
	border-radius: 30px;
	font-size: 18px;
	transition: .5s;
	box-shadow:0px 0px 10px -3px black;
}
.btn:hover {
	background-color: black;
	color: white;
}
.btn {
	margin-right: 10px;
}

/*navbar*/
.navbar, .list, .check {
	display: none;
}
@media (max-width: 425px) {
	.navbar, .list, .check {
		display: block;
	}
	.navbar {
		display: block;
		width: 40px;
		height: 40px;
		/*border: 1px solid black;*/
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		right: 20px;
	}
	.navbar span {
		width: 100%;
		height: 5px;
		background-color: orange;
		display: block;
		transition: .5s;
	}
	.navbar span:nth-child(2) {
		margin: 5px auto;
	}
	.check {
		display: block;
		position: absolute;
		width: 60px;
		height: 60px;
		right: 20px;
		z-index: 99;
		opacity: 0;
	}
	.check:checked ~ .navbar > span:nth-child(1) {
		transform: rotate(45deg) translate(4px, 11px);
	}
	.check:checked ~ .navbar > span:nth-child(2) {
		opacity: 0;
	}
	.check:checked ~ .navbar > span:nth-child(3) {
		transform: rotate(-45deg) translate(4px, -11px);
	}
	.list {
		display: block;
		width: 200px;
		height: 300px;
		/*border: 1px solid black;*/
		position: absolute;
		left: 20px;
		font-size: 20px;
		font-family: sans-serif;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-color: orange;
		z-index: 99;
		border-radius: 2px;
		transition: .4s;
		opacity: 0;
		top: -30px;
	}
	.list a {
		text-decoration: none;
		border-top: 2px solid white;
		/*border-bottom: 2px solid white;*/
		width: 100%;
		height: 50px;
		align-items: center;
		display: flex;
		margin-top: 10px;
		color: white;
	}
	.li-a {
		border-bottom: 2px solid white;
	}
	.check:checked ~ .list {
		top: 10px;
		opacity: 1;
	}
}
@media (max-width: 375px) {
	.navbar {
		display: block;
		width: 40px;
		height: 40px;
		/*border: 1px solid black;*/
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		right: 20px;
	}
	.navbar span {
		width: 100%;
		height: 5px;
		background-color: orange;
		display: block;
		transition: .5s;
	}
	.check {
		display: block;
		position: absolute;
		width: 60px;
		height: 60px;
		right: 20px;
		z-index: 99;
		opacity: 0;
	}
	.check:checked ~ .navbar > span:nth-child(1) {
		transform: rotate(45deg) translate(4px, 11px);
	}
	.check:checked ~ .navbar > span:nth-child(2) {
		opacity: 0;
	}
	.check:checked ~ .navbar > span:nth-child(3) {
		transform: rotate(-45deg) translate(4px, -11px);
	}
	.list {
		display: block;
		width: 200px;
		height: 300px;
		/*border: 1px solid black;*/
		position: absolute;
		left: 20px;
		font-size: 20px;
		font-family: sans-serif;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-color: orange;
		z-index: 99;
		border-radius: 2px;
		transition: .4s;
		opacity: 0;
		top: -30px;
	}
	.list a {
		text-decoration: none;
		border-top: 2px solid white;
		/*border-bottom: 2px solid white;*/
		width: 100%;
		height: 50px;
		align-items: center;
		display: flex;
		margin-top: 10px;
		color: white;
	}
	.li-a {
		border-bottom: 2px solid white;
	}
	.check:checked ~ .list {
		top: 10px;
		opacity: 1;
	}
}
/*akhir navbar*/